body {
  background-color: #e3f2fd;
  font-family: "Poppins", sans-serif;
}

#player-container {
  display: none;
}

#chat-room {
  width: 100%;
  height: 30rem;
}

#chat-body {
  height: 80%;
  line-height: 1.2em;
  overflow-y: auto;
  position: relative;
  bottom: 0;
}

#watch-room {
  display: none;
}

#messages {
  margin: 10px;
  padding: 10px;
  line-height: 1.2em;
  height: 550px;
  max-height: 550px;
  overflow-y: scroll;
  position: relative;
  bottom: 0;
}

.chat-input-box {
  height: 10%;
  position: relative;
}

.chat-input-box .form-group {
  margin: 0;
  padding-top: 10px;
  width: 95%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: white;
}

#chat-input {
  width: 70%;
  display: inline-block;
}

#chat-send-btn {
  display: inline-block;
}

#login {
  display: none;
  width: 18rem;
  height: 15rem;
}

.label {
  font-size: 0.8rem;
}

.watchroom-btn {
  width: 60%;
  margin-left: 20%;
}

.custom-btn {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  cursor: default;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#logout-btn {
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.nav-tabs li a {
  text-decoration: none;
  color: #212529;
}

#video-url {
  width: 100%;
}

#all-watchrooms {
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
}

.list-elements {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.recieved-message {
  max-width: 80%;
  width: fit-content;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #dff0d8;
  border-radius: 14px;
  min-width: 20%;
  padding: 0 8px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.sent-message {
  max-width: 80%;
  width: fit-content;
  margin-right: 5px;
  margin-left: auto;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #f5f5f5;
  border-radius: 14px;
  min-width: 20%;
  padding: 0 8px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.message-time {
  float: right;
}

.message-header {
  height: 1rem;
  font-size: 0.7rem;
  margin: 0 5px;
  color: #9b9b9b;
}

.message-body {
  padding: 5px;
  font-size: 0.9rem;
}

.client-join {
  text-align: center;
  color: green;
}

.client-left {
  text-align: center;
  color: red;
}

.chat-user-name {
  color: blue;
}

.typing-status {
  max-width: 90%;
  background-color: bisque;
  position: absolute;
  top: 0;
  padding: 5px 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: top linear 0.5s;
}

.play-video-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.play-video-container .form-group {
  width: 75%;
}
