body {
    background-color: #e3f2fd;
}

#player-container {
    display: none;
}

#chat-room {
    width: 100%;
    height: 30rem;
}

#chat-body {
	height: 80%;
	line-height: 1.2em;	
	overflow-y: scroll;
	position : relative; 
	bottom:0;
}

#watch-room {
	display: none;
}

#messages {
	margin: 10px;
	padding: 10px;
	line-height: 1.2em;
	height: 550px;
	max-height: 550px;
	overflow-y: scroll;
	position : relative; 
	bottom:0;
}

.chat-input-box {
    height: 10%;
}

.chat-input-box .form-group {
    margin: 0;
    margin-top: 10px;
    width: 70%;
    display: inline-block;
}

#login {
	display: none;
    width: 18rem;
    height: 15rem;
}

.label {
    font-size: 0.8rem;
}

.watchroom-btn {
    width: 60%;
    margin-left: 20%;
}

.custom-btn {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    cursor: pointer;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#logout-btn {
    display: none;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.nav-tabs li a {
    text-decoration: none;
    color: #212529;
}

#video-url {
    width: 100%;
}

#all-watchrooms {
    list-style-type: none;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

.list-elements {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.recieved-message {
	width: 80%;
	margin-left: 5px;
	margin-top: 5px;
	border: 1px solid rgba(0, 0, 0, .125);
	background-color: #dff0d8;
}

.sent-message {
	width: 80%;
	margin-right: 5px;
	margin-left: auto;
	margin-top: 5px;
	border: 1px solid rgba(0, 0, 0, .125);
	background-color: #F5F5F5;
}

.message-time {
	float: right;
}

.message-header {
	height: 1rem;
	font-size: 0.8rem;
	margin: 0 5px;
}

.message-body {
	padding: 5px;
}